* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, blockquote, th, td, address, section, header, footer {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
}
fieldset, img {
  border: 0 none;
}
li {
  list-style: none outside none;
}
input, textarea, select, hr {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  /*
  -webkit-appearance: none;*/
}
textarea{
  resize: none;
}
html {
  height: 100%;
}
body {
  color: #797979;
  font-size: 14px;
  line-height: 24px;
  font-family: "微软雅黑";
  min-height: 100%;
  height: 100%;
}
.main {
  width: 100%;
  min-height: 100%;
  display: flex;
  overflow: hidden;
}
a {
  color: #8c8c8c;
  text-decoration: none;
}
a:active, a:hover, input {
  outline: none;
}
img {
  max-width: 100%
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  clear: both;
  height: 0;
  display: block;
  visibility: hidden;
  content: ".";
}
[v-cloak] {
  display: none;
}
.fr, .pull-right {
  float: right;
}
.fl {
  float: left;
}
.ell {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.dib {
  display: inline-block;
}
.mb15 {
  margin-bottom: 15px;
}
.w500, .form-control.w500 {
  width: 500px;
}
.w420, .form-control.w420 {
  width: 420px;
}
.w50 {
  width: 50%;
}
.form-control.w140 {
  width: 140px;
  min-width: 140px;
}
.pl100 {
  padding-left: 95px;
}
.btn {
  margin: 0 5px;
  padding: 6px 14px;
  white-space: nowrap;
  border: none;
  display: inline-block;
  line-height: 24px;
  cursor: pointer;
  vertical-align: middle;
}
.btn img {
  vertical-align: middle;
}
.btn-sm {
  padding: 0px 10px;
  margin: 0 3px;
}
.btn-lg {
  padding: 8px 40px;
}
.btn.btn-add {
  background: #66b1ff;
  color: #fff;
}
.btn.btn-del {
  background: #f17140;
  color: #fff;
}
.btn.btn-default {
  background: #66b1ff;
  color: #fff;
}
.btn.btn-gray {
  background: #cacaca;
  color: #fff;
}
.btn.btn-pass {
  background: #34b06b;
  color: #fff;
}
.btn.btn-blue {
  background: #66b1ff;
  color: #fff;
}
.btn:disabled {
  background: #d1d1d1;
  cursor: no-drop;
}
.bg-white {
  background: #fff;
}
.text-black {
  color: #474747;
}
.text-white {
  color: #fff;
}
.text-blue {
  color: #66b1ff;
}
.text-red {
  color: #ff0909
}
.text-orange {
  color: #f17140;
}
.text-green {
  color: #00b700
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-info {
  background: #e1ecfa;
  color: #66b1ff;
  padding: 0 10px;
  line-height: 30px;
  margin: 10px 0 30px 0;
}
.mr20 {
  margin-right: 20px;
}
.bg-lblue {
  background: #ebf1f5;
}
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* 复选框 */

.checkbox-con {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  display: inline-block;
  /*vertical-align: middle;*/
}
.checkbox-con input[type="checkbox"] {
  opacity: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  margin: 0;
}
.checkbox-con input[type="checkbox"]+label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: none;
  border: 1px solid #cacaca;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.checkbox-con input[type="checkbox"]:checked+label:after {
  content: '';
  width: 20px;
  height: 20px;
  border: none;
  background-image: url(../images/icon.png);
  background-position: -358px -439px;
  position: absolute;
  left: -1px;
  top: -1px;
  z-index: 20;
}
/* 单选框 */

.radio-con {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}
.radio-con input[type="radio"] {
  opacity: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  margin: 0;
}
.radio-con input[type="radio"]+label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: none;
  border: 1px solid #cacaca;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  border-radius: 10px;
}
.radio-con input[type="radio"]:checked+label:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  left: 4px;
  top: 4px;
  background: #66b1ff;
  position: absolute;
  z-index: 20;
}
/* 头部样式 */

.common-head {
  height: 55px;
  /* border-bottom: #e5e5e5 1px solid; */
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 210px;
  right: 0;
  z-index: 10;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.common-head1 {
  height: 55px;
  border-bottom: #e5e5e5 1px solid;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 309px;
  right: 160px;
  z-index: 10;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.common-head.w100 {
  left: 0;
}
.common-right.w100,label.w100 {
  width: 100%;
}
.common-right.pt0{
  padding-top: 0;
}
.common-head .search {
  padding: 10px 20px;
  width: 300px;
}
.common-head .search img {
  float: left;
  margin: 5px;
}
.common-head .search input {
  border: 0;
  padding: 5px;
}
.common-head .sign {
  /* background: #66b1ff; */
  height: 54px;
  line-height: 54px;
  font-size: 16px;
  color: #fff;
  padding: 0 20px;
}
.common-head .sign a{
  color: #1672fb;
}
.common-head .sign a i{
  margin-right: 10px;
}
.common-head .message {
  margin: 15px 25px 0 0;
  position: relative;
  cursor: pointer;
}
.common-head .message img {
  height: 25px;
}
.common-head .message em {
  font-style: normal;
  position: absolute;
  top: -10px;
  left: 20px;
  background: #f5441b;
  color: #fff;
  padding: 0 8px;
  line-height: 24px;
  border-radius: 12px;
}
.common-head .warn em {
  left: 10px;
}
.teacher .common-head .sign {
  background: #4dbac0;
}
.admin .common-head .sign {
  background: #2a58f4;
}
.common-head .user {
  position: relative;
  margin-right: 30px;
}
.common-head .user .userInfo {
  padding-right: 25px;
  position: relative;
  line-height: 55px;
  cursor: pointer;
}
.common-head .user .userInfo:after {
  position: absolute;
  right: 0;
  top: 25px;
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #bfbfbf;
}
.common-head .user .userInfo img {
  border-radius: 50%;
  width: 37px;
  height: 37px;
  float: left;
  margin: 9px 15px 9px 9px;
  border: #d6d6d6 1px solid;
}
.common-head .user .menu {
  display: none;
  position: absolute;
  right: 0;
  top: 55px;
  width: 100px;
  background: #fff;
  border: #e5e5e5 1px solid;
  border-top: none;
  z-index: 100;
}
.common-head .user .menu li {
  padding: 0 15px;
  line-height: 40px;
  border-bottom: #e5e5e5 1px dotted;
}
.common-head .user:hover .menu {
  display: block;
}
.common-head .menu-bar {
  margin: 15px 25px;
  float: left;
  cursor: pointer;
}
.common-left {
  width: 210px;
  background:#041239 url(../images/left_bg.png) no-repeat;
  background-size: cover;
  z-index: 10;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.common-left1 {
  width: 309px;
  background:#041239 url(../images/left_bg.png) no-repeat;
  background-size: cover;
  z-index: 10;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.common-left-overwrite {
  width: 292px;
  float: left;
  background-color: #0d1d50;
  z-index: 10;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  color:white;
}
.enlarge {
width: 492px;
}

.common-left.toggled {
  margin-left: -210px;
}
.common-left .logo {
  padding: 20px;
  text-align: center;
}
.common-left .logo1 {
  padding: 20px;
  text-align: left;
}
.common-left .user-info {
  text-align: center;
  padding: 10px 0 20px 0;
  color: #fff;
  font-size: 16px;
}
.common-left .user-info a {
  color: #fff;
}
.common-left .user-info img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: rgba(76, 127, 221, .3) 5px solid;
  margin-bottom: 10px;
}
.common-left .left-menu li {
  min-height: 50px;
  line-height: 50px;
  font-size: 16px;
  position: relative;
  margin-bottom: 5px;
  z-index: 99;
}
.common-left .left-menu li>a {
  display: block;
  padding: 0 20px 0 30px;
  color: #fff;
  position: relative;
}
.common-left .left-menu li:hover>a, .common-left .left-menu li.on>a {
  border-left: 4px #20DCEF solid;
  padding-left: 26px;
  color: #fff;
  text-decoration: none;
  /* background: #1672fb; */
  background: rgba(0,0,0, 0.4);
}
.common-left .left-menu li .has-sencond {
  position: absolute;
  right: 20px;
  top: 14px;
  z-index: 10;  
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
}
.common-left .left-menu li .has-sencond em{
  display: inline-block;
  width: 13px;
  height: 6px;
  background-image: url(../images/icon.png);
  background-position: -407px -368px;
  transform:rotate(90deg);
}
/* .common-left .left-menu li.on .has-sencond em, */
.common-left .left-menu li .has-sencond.open em{
  transform:rotate(0deg);
}
/* .common-left .left-menu li .second-menu {
  display: none;
} */
.common-left .left-menu li .second-menu a {
  display: block;
  line-height: 34px;
  padding: 0 20px 0 75px;
  color: #4b7edc;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently*/
}
.common-left .left-menu li .second-menu a:hover {
  color: #fff;
}
.common-left .left-menu li .second-menu a.active {
  color: #fff;
}
.common-left .left-menu li i {
  margin-right: 17px;
  float: left;
  margin-top: 12px;
  width: 29px;
  height: 28px;
}
.icon {
  display: inline-block;
  background: url(../images/icon.png) no-repeat;
  vertical-align: middle;
}
.icon-dashboard {
  background-position: -340px -404px;
}
.icon-task {
  background-position: -462px -132px;
}
.icon-result {
  background-position: -460px -376px;
}
.icon-report {
  background-position: -408px -404px;
}
.icon-like {
  background-position: -462px -33px;
}
.icon-test {
  background-position: -136px -404px;
}
.icon-team {
  background-position: -462px -66px;
}
.icon-course {
  background-position: -34px -404px;
}
.icon-down {
  background-position: -204px -404px;
}
.icon-subject {
  background-position: -170px -404px;
}

.icon-help {
  background-position: -320px -373px;
}
.icon-experiment {
  background-position: -306px -404px;
}
.icon-warning {
  width: 105px;
  height: 94px;
  background-position: -274px -133px;
}
.icon-success {
  width: 128px;
  height: 128px;
  background-position: -274px 0px;
}
.icon-error {
  width: 128px;
  height: 128px;
  background-position: 0px -246px;
}
.icon-menuBar {
  width: 22px;
  height: 19px;
  background-position: -78px -379px;
}
.icon-menuBars{
  width: 27px;
  height: 22px;
  background-position: -390px -467px;
}
.icon-browse {
  width: 19px;
  height: 14px;
  background-position: -316px -352px;
}
.icon-people {
  width: 14px;
  height: 15px;
  background-position: -388px -323px;
}
.icon-edit {
  width: 16px;
  height: 16px;
  background-position: -384px -206px;
}
.icon-del {
  background-position: -105px -379px;
  width: 15px;
  height: 15px;
}
.icon-return {
  background-position: -384px -162px;
  width: 16px;
  height: 18px;
}
.icon-exit {
  background-position: -462px -231px;
  width: 27px;
  height: 27px;
}
.icon-download {
  background-position: -384px -185px;
  width: 16px;
  height: 16px;
}
.icon-message {
  background-position: -462px -263px;
  width: 29px;
  height: 25px;
}
.icon-nodata {
  background-position: 0px 0px;
  width: 269px;
  height: 241px;
}
.icon-setting-b {
  background-position: -464px -468px;
  width: 27px;
  height: 27px;
}
.icon-setting-w {
  background-position: -464px -435px;
  width: 27px;
  height: 27px;
}
.icon-message-b{
  background-position: -432px -468px;
  width: 25px;
  height: 29px; 
}
.icon-message-w{
  background-position: -432px -435px;
  width: 25px;
  height: 29px; 
}
.icon-reset{
  background-position: -303px -467px;
  width: 23px;
  height: 21px; 
}
.icon-close{
  background-position: -331px -465px;
  width: 22px;
  height: 23px; 
}
.icon-share{
  background-position: -276px -467px;
  width: 22px;
  height: 22px; 
}
.icon-upload{
  background-position: -358px -468px;
  width: 24px;
  height: 20px; 
}
.icon-wake{
  background-position: -305px -497px;
  width: 23px;
  height: 23px; 
}
.icon-start{
  background-position: -277px -501px;
  width: 23px;
  height: 19px; 
}
.icon-exits{
  background-position: -333px -501px;
  width: 22px;
  height: 16px; 
}
.common-left .left-menu li:hover>a .icon-dashboard, .common-left .left-menu li.on>a .icon-dashboard {
  background-position: 0px -404px;
}
.common-left .left-menu li:hover>a .icon-task, .common-left .left-menu li.on>a .icon-task {
  background-position: -462px -99px;
}
.common-left .left-menu li:hover>a .icon-result, .common-left .left-menu li.on>a .icon-result {
  background-position: -425px -376px;
}
.common-left .left-menu li:hover>a .icon-report, .common-left .left-menu li.on>a .icon-report {
  background-position: -68px -404px;
}
.common-left .left-menu li:hover>a .icon-like, .common-left .left-menu li.on>a .icon-like {
  background-position: -462px -165px;
}
.common-left .left-menu li:hover>a .icon-test, .common-left .left-menu li.on>a .icon-test {
  background-position: -102px -404px;
}
.common-left .left-menu li:hover>a .icon-team, .common-left .left-menu li.on>a .icon-team {
  background-position: -238px -404px;
}
.common-left .left-menu li:hover>a .icon-course, .common-left .left-menu li.on>a .icon-course {
  background-position: -374px -404px;
}
.common-left .left-menu li:hover>a .icon-down, .common-left .left-menu li.on>a .icon-down {
  background-position: -462px 0px;
}
.common-left .left-menu li:hover>a .icon-subject, .common-left .left-menu li.on>a .icon-subject {
  background-position: -462px -198px;
}
.common-left .left-menu li:hover>a .icon-help, .common-left .left-menu li.on>a .icon-help {
  background-position: -362px -373px;
}
.common-left .left-menu li:hover>a .icon-experiment, .common-left .left-menu li.on>a .icon-experiment {
  background-position: -272px -404px;
}
.exit {
  margin: 40px 0;
  text-align: center;
}
.exit a {
  display: inline-block;
  width: 54px;
  height: 54px;
  border: 2px #4c7fdd solid;
  border-radius: 37px;
  text-align: center;
  padding-top: 11px;
}
.notice {
  float: right;
  margin-right: 20px;
  width: 30px;
  height: 55px;
  background: url(../images/notice.png) center no-repeat;
  position: relative;
}
.notice em {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  position: absolute;
  right: 0px;
  top: 10px;
  background: #ff7e00;
  font-style: normal;
  border-radius: 10px;
}
.common-right {
  position: relative;
  padding-top: 65px;
  padding-left:10px;
  padding-right:10px;
  min-height: 100%;
  width: calc(100% - 210px);
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  -ms-transition: width 0.3s;
  transition: width 0.3s;
}
.common-right-overwrite {
  position: relative;
  background-color: #ccc;
  min-height: 100%;
  width: calc(100% - 292px - 70px);
  float: left;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  -ms-transition: width 0.3s;
  transition: width 0.3s;
}
.minish {
width: calc(100% - 492px - 70px);
}
.common-right-menu {
  position: relative;
  min-height: 100%;
  background-color: #ccc;
  width: 70px;
  float: left;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  -ms-transition: width 0.3s;
  transition: width 0.3s;
}
.common-rightmeau {
  position: relative;
  min-height: 100%;
  float: right;
  width: 206px;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  -ms-transition: width 0.3s;
  transition: width 0.3s;
}
.common-rightmeau.toggled {
  margin-left: -100px;
}
.right-top {
  background: #fff;
  border-bottom: #e5e5e5 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}
.right-title dt, .type-title, .type-tab a, .detail-title dt {
  color: #474747;
  font-size: 18px;
  line-height: 24px;
  width: 60%;
  display: inline-block;
}
.type-title {
  width: 100%;
}
.type-title a {
  font-size: 14px;
  color: #9e9e9e;
}
.right-title dt span, .detail-title dt span {
  color: #9e9e9e;
  font-size: 14px;
}
.right-title dd, .detail-title dd {
  color: #8a94a5;
  line-height: 38px;
  text-align: right;
  float: right;
  width: 30%;
  margin-right: -5px;
}
.detail-title {
  margin: 20px;
  padding-bottom: 15px;
  border-bottom: #dbdbdb 1px dashed;
}
.detail-title dt span {
  margin-right: 40px;
  vertical-align: middle;
  line-height: 40px;
}
.detail-title dt span i {
  margin-right: 5px;
}
.detail-title dt em {
  margin-left: 10px;
  display: inline-block;
  background-color: #66b1ff;
  background-image: url(../images/icon.png);
  background-position: -127px -379px;
  height: 20px;
  color: #fff;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  text-indent: 15px;
  padding-right: 10px;
  border-radius: 0 2px 2px 0;
}
.type-title, .type-tab {
  margin-bottom: 15px;
  font-size: 16px;
}
.type-tab a {
  padding: 0 10px 10px 10px;
  width: auto;
  font-size: 16px;
  display: inline-block;
}
.type-tab a.on {
  border-bottom: #66b1ff 2px solid;
}
.right-type {
  margin: 20px;
  padding-bottom: 30px;
  border-bottom: #dbdbdb 1px dashed;
}
.right-type:last-child, .right-type.noborder {
  border-bottom: none;
}
.use-percent {
  padding: 30px;
}
.use-percent li {
  text-align: center;
  float: left;
  width: 200px;
  height: 200px;
  margin-right: 110px;
  position: relative;
}
.use-percent li .text {
  position: absolute;
  top: 60px;
  width: 100%;
  left: 0;
  font-size: 20px;
  color: #939cac;
  line-height: 30px;
}
.colony-tab {
  margin: 10px -20px;
  border-bottom: #e5e5e5 1px solid;
  padding: 0 20px;
}
.colony-tab a {
  padding: 0 10px;
  margin-right: 10px;
  font-size: 18px;
  display: inline-block;
  padding-bottom: 10px;
}
.colony-tab a.on {
  color: #000;
  border-bottom: #66b1ff 4px solid;
}
.node-con dt {
  font-size: 16px;
  margin-bottom: 10px;
  color: #474747;
}
.table-con {
  background: #fff;
  padding: 20px;
  border-bottom: #e5e5e5 1px solid;
  border-top: #e5e5e5 1px solid;
}
.common-table {
  width: 100%;
}
.common-table th {
  background: #ebf1f5;
  padding: 6px 10px;
  border: #dbdbdb 1px solid;
  font-weight: 500;
  text-align: left;
}
.common-table td {
  padding: 6px 10px;
  border: #dbdbdb 1px solid;
}
.progress {
  position: relative;
  width: 260px;
  margin-top: 6px;
  height: 14px;
  border-radius: 6px;
  background: #ecf0f2;
  border: #dbdbdb 1px solid;
  display: inline-block;
  vertical-align: middle;
}
.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  background: #66b1ff;
  height: 12px;
  border-radius: 6px;
}
.progress-bar-warning .progress-bar {
  background: #f17140;
}
.progress-bar-danger .progress-bar {
  background: #ff0e0e;
}
.progress-text {
  position: absolute;
  top: -30px;
  left: 50%;
  height: 24px;
  padding: 0 10px;
  z-index: 20;
  border-radius: 4px;
  background: #34b06b;
  white-space: nowrap;
  color: #fff;
  transform: translateX(-50%);
  display: none;
}
.progress-text:before {
  position: absolute;
  content: '';
  left: calc(50% - 3px);
  top: 100%;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #34b06b;
}
.progress:hover>.progress-text {
  display: block;
}
.progress-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 100%;
  z-index: 10;
}
.progress-line li {
  width: 25%;
  height: 12px;
  float: left;
  border-right: rgba(219, 219, 219, .9) 1px solid;
}
.progress-line li:last-child {
  border-right: none;
}
.right-line {
  height: 16px;
  overflow: hidden;
  background: #e7e7e7;
}
.task-list {
  margin: 0;
}
.task-list li {
  border: #e5e5e5 1px solid;
  background: #fff;
  padding: 15px 20px 10px 20px;
  margin-bottom: 17px;
  width: calc(50% - 10px);
  float: left;
}
.task-list li:nth-child(2n) {
  float: right;
}
.task-list li .info img {
  float: left;
  margin-right: 25px;
  width: 160px;
}
.task-list li .info {
  color: #8a94a5;
  width: calc(100% - 140px);
  float: left;
  line-height: 32px;
}
.task-list li .info .title {
  font-size: 18px;
  color: #52525a;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.task-list li .info .title em {
  background: #34b06b;
  font-size: 12px;
  color: #fff;
  display: inline-block;
  padding: 0 10px;
  line-height: 22px;
  font-style: normal;
  margin-top: 6px;
  margin-left: 10px;
  border-radius: 11px;
  float: right;
}
.task-list li .status {
  width: 15%;
  float: left;
  padding-top: 20px;
  font-size: 16px;
  text-align: center;
}
.task-list li .status.middle {
  color: #66b1ff;
}
.task-list li .oprate {
  float: left;
  text-align: center;
  padding-top: 10px;
  width: 140px;
}
.right-opration {
  padding-bottom: 20px;
}
.form-group {
  line-height: 36px;
  color: #8c8c8c;
  display: inline-block;
}
.form-control {
  padding: 7px 10px;
  min-height: 36px;
  border: #cacaca 1px solid;
  background: #fff;
  min-width: 240px;
  color: #474747;
  margin: 0 10px 0 0;
  width: 240px;
  display: inline-block;
  vertical-align: middle;
}
.material-list {
  background: #fff;
  margin: 0 -10px;
}
.material-list li {
  margin: 10px;
  float: left;
  width: 352px;
  position: relative;
}
.material-list li em {
  display: inline-block;
  width: 67px;
  height: 24px;
  font-style: normal;
  color: #000b25;
  background-image: url(../images/icon.png);
  background-position: -316px -323px;
  position: absolute;
  top: 12px;
  left: 0;
  padding-left: 10px;
  z-index: 10;
}
.material-list li img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
.material-list li .title {
  color: #474747;
  font-size: 16px;
  padding: 0px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.material-list li .title span {
  line-height: 20px;
  line-height: 20px;
  display: inline-block;
  background: #66b1ff;
  color: #fff;
  font-size: 12px;
  padding: 0 10px;
  float: right;
  border-radius: 10px;
  margin-left: 10px;
}
.material-list li .info {
  color: #9b9b9b;
  padding: 5px 10px;
  height: 26px;
  overflow: hidden;
}
.material-list li .link {
  padding: 20px 0px;
  overflow: hidden;
}
.material-list li .info span {
  padding-right: 10px;
}
.material-list li .info span i {
  margin-right: 5px;
  vertical-align: middle;
}
.material-list li .info span .common-con {
  background: #fff;
  padding: 20px;
}
.step-con {
  display: flex;
}
.step-left {
  width: 250px;
  margin-right: 40px;
}
.step-right {
  width: 770px;
  overflow-y: auto;
}
.step-right::-webkit-scrollbar {
  width: 6px;
}

.step-right::-webkit-scrollbar-button {
  display: none;
}

.step-right::-webkit-scrollbar-thumb {
  background: #dbdbdb;
}
.add-step1 {
  width: 250px;
}
.step-title {
  font-size: 16px;
  margin-bottom: 15px;
}
.type-list li {
  padding: 10px;
  text-align: center;
  border: #d2dae2 1px solid;
  background: #ebf1f5;
  margin-bottom: 15px;
  position: relative;
  cursor: pointer;
  height: 80px;
}
.type-list li span {
  font-size: 18px;
  color: #52525a;
}
.type-list li p{
  line-height: 18px;
  position: absolute;
  left: 10px;
  right: 10px;
  top: 50%;
  transform: translateY(-45%);
}
.type-list li:hover {
  border: #66b1ff 1px solid;
  color: #66b1ff;
}
.type-list li:hover span, .type-list li:hover, .type-list li.select, .type-list li.select span {
  color: #66b1ff;
}
.type-list li.select {
  border: #66b1ff 1px solid;
  position: relative;
}
.type-list li.select:before {
  position: absolute;
  width: 30px;
  height: 26px;
  bottom: 0;
  right: 0;
  content: '';
  background: #ebf1f5 url(../images/icon.png) no-repeat;
  background-position: 0px -437px;
}
.add-step2 {
  width: 750px;
  float: left;
}
.add-block {
  border: #d2dae2 1px solid;
  background: #ebf1f5;
  margin-bottom: 20px;
  padding: 10px 20px;
}
.add-form {
  margin: 10px 0;
}
.add-form label {
  width: 90px;
  text-align: right;
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
  line-height: 37px;
  font-family: 'Times New Roman';
}
.add-form span.form-text{
  line-height: 37px;
}
.add-form input.form-input {
  width: 410px;
}
.add-form .num-control {
  width: 290px;
  display: inline-block;
}
.add-form .num-control input.form-control {
  width: 120px;
  text-align: center;
  height: 28px;
  line-height: 28px;
  min-width: auto;
  min-height: auto;
  vertical-align: top;
}
.add-form .num-control em {
  font-style: normal;
  width: 28px;
  height: 28px;
  background: #ebf1f5;
  text-align: center;
  line-height: 28px;
  border: #dbdbdb 1px solid;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently*/
}
.add-form .num-control em.disabled {
  cursor: not-allowed;
  opacity: .6;
  pointer-events: none;
}
.add-form .slide {
  width: 600px;
  margin: 0;
  display: inline-block;
  position: relative;
}
input.common-range {
  -webkit-appearance: none;
  width: 500px;
  height: 8px;
  margin-top: 6px;
  margin-right: 5px;
  margin-right: 2px;
  border-radius: 2px;
  background: linear-gradient(#d0d5d7, #dce1e3);
  cursor: pointer;
}
input.common-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  z-index: 99;
}
input.common-range::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 2px;
  border: none;
  z-index: 99;
}
input.common-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 8px;
  margin-top: -2px;
  display: inline-block;
  background: url(../images/icon.png) no-repeat;
  background-position: -445px -330px;
  position: relative;
  z-index: 20;
}
input.common-range::-moz-range-track {
  width: 500px;
  height: 8px;
  margin-top: 6px;
  margin-right: 2px;
  border-radius: 2px;
  background: linear-gradient(#d0d5d7, #dce1e3);
}
input.common-range::-moz-range-thumb {
  border: none;
  height: 18px;
  width: 8px;
  margin-top: -2px;
  display: inline-block;
  background: url(../images/icon.png) no-repeat;
  background-position: -445px -330px;
  position: relative;
  z-index: 20;
}
.range-min {
  position: absolute;
  left: -25px;
  top: 18px;
  padding-top: 8px;
  width: 50px;
  text-align: center;
}
.range-max {
  position: absolute;
  left: 475px;
  top: 18px;
  padding-top: 8px;
  width: 50px;
  text-align: center;
}
.range-value {
  width: 500px;
  margin-top: -6px;
}
.range-value span {
  display: inline-block;
  text-align: right;
  position: relative;
  height: 24px;
}
.range-value span em {
  position: absolute;
  width: 50px;
  text-align: center;
  left: 100%;
  transform: translateX(-50%);
  top: 0px;
  padding-top: 8px;
  font-style: normal;
}
.range-value span em:before, .range-min:before, .range-max:before {
  position: absolute;
  content: '|';
  font-size: 8px;
  width: 100%;
  height: 6px;
  line-height: 6px;
  overflow: hidden;
  color: #b4babd;
  left: 0;
  top: 0;
}
.range-bg {
  position: absolute;
  left: 0;
  top: 9px;
  background: #3377d5;
  height: 8px;
  border-radius: 3px;
}
.add-form input.form-time {
  width: 238px;
  min-width: auto;
}
.add-form .time-line {
  padding: 0 7px;
}
.add-form .clazz-group {
  width: 500px;
}
.team-list li, .user-list li {
  width: 30%;
  float: left;
  margin-right: 3%;
  margin-top: 15px;
}
.team-list li input, .user-list li input {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  float: left;
  margin: 2px 8px;
}
.time-line {
  padding: 0 5px 0 5px;
}
.add-block .title {
  font-size: 16px;
  color: #727277;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently*/
}
.add-block .title a {
  float: right;
  width: 26px;
  height: 26px;
  background: url(../images/icon.png) no-repeat;
  background-position: -462px -293px;
}
.add-block .title a.up {
  transform: rotateX(0);
}
.add-block .title a.down {
  transform: rotateX(180deg);
}
.add-block.close {
  height: 45px;
  overflow: hidden;
  font-size: 14px;
  float: none;
  font-weight: 100;
  line-height: 24px;
  color: #8c8c8c;
  text-shadow: none;
  filter: none;
  opacity: 1;
}
.add-block.hiden {
  display: none;
}
.add-step3 {
  width: 750px;
  float: left;
  margin-top: 40px;
}
.Environment-detail {
  padding: 20px;
}
.detail-w50 {
  width: 50%;
  float: left;
}
.detail-group.w45,.w45 {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}
.detail-group {
  margin: 10px 0;
  color: #474747;
}
.detail-group label {
  width: 100px;
  color: #797979;
  display: inline-block;
  text-align: right;
  /*margin-right: 5px;*/
  vertical-align: top;
  line-height: 36px;
  font-family: 'Times New Roman';
}
.detail-group span {
  line-height: 36px;
}
.detail-btn {
  margin-top: 40px;
}
.detail-btn .btn {
  margin: 0 10px;
}
.material-left {
  float: left;
  width: 70%;
  margin: 20px 20px 0 20px;
  background: #fff;
  height: -moz-calc(100% - 140px);
  height: -webkit-calc(100% - 140px);
  height: calc(100% - 140px);
  overflow-y: auto;
}
.material-left dt {
  text-align: center;
  padding: 20px;
}
.material-left dd {
  padding: 0 20px 30px 20px;
  line-height: 36px;
}
.material-right {
  background: #fff;
  padding: 130px 20px 20px 20px;
  position: absolute;
  left: 74%;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 0;
  line-height: 36px;
}
.material-right h2 {
  margin-bottom: 10px;
}
.chart-con {
  padding: 20px;
}
.chart-con .chart-sigle {
  height: 270px;
  width: 45%;
  margin-right: 5%;
  float: left;
}
.imgFile-con {
  width: 300px;
  height: 174px;
  line-height: 0;
  position: relative;
  display: inline-block;
  border: #DCDFE6 1px solid;
  border-radius: 4px;
}
.imgFile-con img {
  width: 300px;
  height: 174px;
  position: absolute;
  top: 0;
  right: 0;
}
.imgFile-con input[type="file"] {
  width: 300px;
  height: 174px;
  opacity: 0;
  position: relative;
  z-index: 2;
  border-radius: 4px;
}
.imgFile-con a {
  width: 300px;
  height: 174px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding-top: 34px;
}
.img-add {
  width: 74px;
  height: 74px;
  background: #f0f0f0;
  border-radius: 37px;
  line-height: 74px;
  text-align: center;
  color: #969696;
  font-size: 24px;
  display: inline-block;
  font-style: normal;
}
.file-con {
  position: relative;
  display: inline-block;
}
.file-con input[type="file"] {
  width: 500px;
  height: 36px;
  opacity: 0;
  position: relative;
  z-index: 2;
}
.file-con input.form-control {
  width: 430px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.file-con a {
  width: 100px;
  height: 36px;
  text-align: center;
  color: #fff;
  line-height: 36px;
  position: absolute;
  top: 0;
  left: 400px;
  z-index: 1;
  background: #409EFF;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.retrun-back {
  height: 60px;
  width: 60px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
  text-align: center;
}
.retrun-back a {
  height: 70px;
  width: 70px;
  background: #66b1ff;
  display: inline-block;
  border-radius: 8px;
  padding-top: 10px;
  color: #fff;
  line-height: 26px;
  text-decoration: none;
}
.video-con {
  margin: 20px;
  background: #fff;
  height: 420px;
}
.video-con dt {
  width: -moz-calc(70% + 30px);
  width: -webkit-calc(70% + 30px);
  width: calc(70% + 30px);
  float: left;
  height: 420px;
}
.video-con dt img {
  width: 100%;
  height: 100%;
}
.video-con dd {
  width: -moz-calc(30% - 30px);
  width: -webkit-calc(30% - 30px);
  width: calc(30% - 30px);
  padding: 20px;
  line-height: 30px;
  float: left;
}
.video-con dd h4 {
  font-size: 16px;
}
.video-con dd a {
  position: relative;
  padding-left: 20px;
}
.video-con dd a:before {
  content: '▲';
  position: absolute;
  left: 0;
  top: -5px;
  transform: rotate(90deg);
}
.video-con dd a.on {
  color: #66b1ff;
}
.video-left {
  width: 70%;
  float: left;
  margin: 0 0px 20px 20px;
  background: #fff;
}
.video-left dt, .video-right dt {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  border-bottom: #e5e5e5 1px solid;
  font-size: 16px;
}
.video-left dd, .video-right dd {
  line-height: 30px;
  padding: 20px;
}
.video-right {
  float: right;
  width: 25%;
  margin: 0 20px 20px 0;
  background: #fff;
}
label.error {
  color: #ff0000;
  margin-left: 10px;
  width: auto;
  text-align: left;
}
.error {
  color: #ff0000;
  margin: 0 5px;
}
input.error,select.error,textarea.error{
  margin: 0 10px 0 0;
}
.popover-main div.error {
  padding-left: 100px;
}
.check-list {
  width: 700px;
}
.check-list li {
  width: 30%;
  display: inline-block;
  float: left;
  line-height: 24px;
}
.check-list li input {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  float: left;
  margin: 2px 5px;
}
.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, .5);
  text-align: center;
  padding-top: 25%;
  z-index: 100;
}
.nodata {
  margin-top: 50px;
  text-align: center;
  padding-bottom: 100px;
}
.nodata img {
  margin-top: 10%;
}
.nodata h2 {
  margin-top: 20px;
  font-weight: 100;
  font-size: 16px;
}
.common-loading {
  margin: 0;
  padding-top: 20%;
  z-index: 999;
  background-color: rgba(255, 255, 255, .6);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  text-align: center;
  font-size: 40px;
}
@-moz-keyframes refreshing-loader {
  0% {
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -moz-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
@-webkit-keyframes refreshing-loader {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
@keyframes refreshing-loader {
  0% {
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */

.refreshing-loader:not(:required) {
  -moz-animation: refreshing-loader 1000ms infinite linear;
  -webkit-animation: refreshing-loader 1000ms infinite linear;
  animation: refreshing-loader 1000ms infinite linear;
  -moz-border-radius: 2.4em;
  -webkit-border-radius: 2.4em;
  border-radius: 2.4em;
  border: 0.4em solid #9ac;
  border-left-color: transparent;
  color: transparent;
  display: inline-block;
  font-size: 10px;
  line-height: 1.2;
  width: 3em;
  height: 3em;
  text-indent: 100%;
}
.refreshing-loader:not(:required):after {
  display: block;
  border: 0.5em solid transparent;
  border-top-color: #9ac;
  border-left-color: #9ac;
  content: '';
  width: 0;
  height: 0;
  overflow: hidden;
  margin-left: -0.2em;
  margin-top: 1em;
}
@-moz-keyframes three-quarters-loader {
  0% {
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -moz-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
@-webkit-keyframes three-quarters-loader {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
@keyframes three-quarters-loader {
  0% {
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */

.three-quarters-loader:not(:required) {
  -moz-animation: three-quarters-loader 1050ms infinite linear;
  -webkit-animation: three-quarters-loader 1050ms infinite linear;
  animation: three-quarters-loader 1050ms infinite linear;
  border: 8px solid #38e;
  border-right-color: transparent;
  border-radius: 16px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 322px;
  height: 32px;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin-right: 10px;
  border-radius: 4px;
}
.pagination>li {
  display: inline;
}
.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #66b1ff;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #66b1ff;
  border-color: #66b1ff;
}
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
/* 时间插件 */

.vdp-datepicker {
  display: inline-block;
  max-width: 236px;
}
.vdp-datepicker .form-control {
  margin: 0;
  width: 236px;
  min-width: 236px;
}
.vdp-datepicker__clear-button {
  position: absolute;
  right: 15px;
  top: 0;
}
.vdp-datepicker__clear-button i {
  font-style: normal;
}
.vdp-datepicker .vdp-datepicker__calendar .cell.selected {
  background: #66b1ff;
  color: #fff;
}
.vdp-datepicker__calendar .cell.day-header {
  background: #ebf1f5;
}
.vdp-datepicker .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover, .vdp-datepicker .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, .vdp-datepicker .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
  border-color: rgba(0, 0, 0, 0);
  background: #ebf1f5;
}
.vdp-datepicker .vdp-datepicker__calendar .cell.day-header:hover {
  background: #ebf1f5;
}
@media(max-width:5440px) {
  body{
      font-size: 12px;
  }
  .common-left .logo {
      padding: 15px;
  }
  .common-left .user-info {
      padding: 0px 0 15px 0;
      font-size: 14px;
  }
  .common-left .left-menu li {
      min-height: 40px;
      line-height: 40px;
      font-size: 14px;
      margin-bottom: 2px;
  }
  .common-left .left-menu li a i {
      transform: scale(0.8, 0.8);
      margin-top: 6px;
  }
  .common-left .left-menu li .has-sencond {
      top: 9px;
  }
  .common-left .user-info img {
      width: 100px;
      height: 100px;
  }
  .progress {
      width: 160px;
  }
  .right-title dt, .type-title, .type-tab a, .detail-title dt {
      font-size: 14px;
  }
  .right-title dt span, .detail-title dt span{
      font-size: 12px;
  }
  .common-head .sign{
      font-size: 14px;
  }
  .icon-exit{
      transform: scale(1, 1);
  }
  .retrun-back a{
      width: 55px;
      height: 55px;
      padding-top: 6px;
      line-height: 20px;
  }
  .colony-tab a{
      font-size: 14px;
  }

  /* 以下为四期新增 */
  /*面包屑*/
  .lab-breadcrumb {
      width: 100%;
      height: 30px;
      line-height: 30px;
      /*background-color: #E7E7E7;*/
      border-bottom: #e5e5e5 1px solid;
  }
  .lab-breadcrumb .el-breadcrumb {
      line-height: 30px;
      padding-left: 15px;
  }
  .lab-breadcrumb .el-breadcrumb .el-breadcrumb__inner {
      color: #B9B9B9;
  }
  .icon-home {
      height: 30px;
      padding-top:4px;
      float: left;
      margin-left: 20px;
      margin-right: 10px;
  }

  /*专业*/
  .lab-major {
      height: 28px;
  }
  .lab-vertical-line {
      float: left;
      width: 5px;
      height: 100%;
      background-color: #0d1d50;
  }
  .lab-major-name {
      font-size: 20px;
      font-weight: bold;
      color: #0d1d50;
      height: 100%;
      line-height: 28px;
      margin-left: 20px;
  }
  .lab-right-top {
      background: #fff;
      padding: 20px;
  }
  /*检索*/
  .lab-search {
      width: 300px;
  }
  /*左浮动*/
  .lab-float-left {
      float: left;
  }
  /*右浮动*/
  .lab-float-right {
      float: right;
  }
  /*课程列表相关*/
  .lab-course-cover {
      padding: 0 10px;
      position: relative;
  }
  .lab-course-cover em {
      display: inline-block;
      width: 67px;
      height: 24px;
      font-style: normal;
      color: #000b25;
      background-image: url(../images/icon.png);
      background-position: -316px -323px;
      position: absolute;
      top: 12px;
      left: 10px;
      padding-left: 10px;
      z-index: 10;
  }
  .lab-course-name {
      font-weight: bold;
      font-size: 14px;
      color: #777777;
  }
  .lab-course-info span {
      margin-left: 10px;
      margin-right: 20px;
  }
  .lab-header {
      margin-bottom: 20px;
  }
  /*布局*/
  .el-header {
      background-color: #B3C0D1;
      color: #333;
      text-align: center;
      line-height: 60px;
  }

  .el-aside {
      background-color: #D3DCE6;
      color: #333;
      text-align: center;
      padding: 10px;
  }

  .el-main {
      background-color: #E9EEF3;
      color: #333;
      text-align: center;
  }

  body > .el-container {
      margin-bottom: 40px;
  }







  .standard-input {
   width: 500px;
  }

  /*为了解决火狐浏览器和其他浏览器显示不一致*/
  .search-input .el-input__inner {
      border-top-right-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
  }
  .search-input .el-button--medium {
      margin-left: -5px;
      height: 36px;
      border-top-left-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
  }



  .form-group label{
      font-size: 16px;
  }


  /*文本字体大小*/
  .text-size label{
      font-size: larger;
  }
  .text-size span{
      font-size: larger;
  }

  .info-title{
      color: #474747;
      font-size: 17px;
  }
  .type-title label{
      font-size: larger;
  }
  .info-group.w45,.w45 {
      width: 45%;
      display: inline-block;
      vertical-align: top;
  }
  .info-group {
      margin: 10px 0px;
      color: #474747;
  }
  .info-group label {
      width: 100px;
      color: #797979;
      display: inline-block;
      text-align: right;
      margin-right: 5px;
      vertical-align: top;
      line-height: 36px;
      font-family: 'Times New Roman';
      font-size: larger;
  }
  .info-group span {
      line-height: 36px;
      font-size: larger;
  }
  .form-info-group.w45,.w45 {
      width: 45%;
      display: inline-block;
      vertical-align: top;
  }
  .form-info-group {
      margin: 10px 0px;
      color: #474747;
  }
  .form-info-group label {
      width: 100px;
      color: #797979;
      display: inline-block;
      text-align: right;
      /*margin-right: 5px;*/
      vertical-align: top;
      line-height: 36px;
      font-family: 'Times New Roman';
      font-size: larger;
  }
  .form-info-group span {
      line-height: 36px;
      font-size: larger;
  }
  .form-info-group .el-row {
      margin-top: 15px;
      /*margin: 10px 0px;*/
  }


  /*文件上传*/
  .file-con .el-input--medium.bottom-input {
      width: 430px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
  }

  /*.file-con input.el-input__inner {
      width: 430px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
  }*/

  .file-con .el-input--medium.top-input {
      width: 500px;
      height: 36px;
      opacity: 0;
      position: relative;
      z-index: 2;
  }
  /*底部按钮*/
  .bottom-button {
      margin-top: 25px;
      margin-left: 108px;
  }

  /*字体颜色*/
  .el-text-blue {
      color: #409EFF;
  }
  .el-text-green {
      color: #67C23A;
  }
  .el-text-red {
      color: #F56C6C;
  }
  .el-text-orange {
      color: #E6A23C;
  }

  /*el 弹出框*/
  .el-dialog{
      width: 600px;
      margin-top: 5vh !important;
  }
  .el-dialog__wrapper{
      /*overflow-y: hidden;*/
  }
  .dialog-form .el-input--medium{
      width: 75%;
  }
  .dialog-form .el-select{
      width: 75%;
  }
  .dialog-form .el-textarea{
      width: 75%;
  }
  .detail-group .el-radio {
      width: 40px;
      color: #606266;
      font-weight: 500;
      line-height: 1;
      text-align: left;
      cursor: pointer;
      white-space: nowrap;
      outline: 0;
  }

  .error label{

      color: #ff0000;
      margin-left: 10px;
      width: auto;
      text-align: left;

  }

  /*全局表格样式*/
  .el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left ~ .el-table__fixed {
      /*列边框*/
      border-right: 1px solid #dedbdb;
  }
  .el-table--border, .el-table--group {
      /*表格左侧和顶部边框*/
      border: 1px solid #dedbdb;
      /*表格右侧边框*/
      border-right-color: rgb(222, 219, 219);
      border-right-style: solid;
      border-right-width: 1px;
      /*表格底部边框*/
      border-bottom-color: rgb(222, 219, 219);
      border-bottom-style: solid;
      border-bottom-width: 1px;
  }
  .el-table td, .el-table th.is-leaf {
      /*行底部边框*/
      border-bottom: 1px solid #dedbdb;
  }


  /*全局标签页样式*/
  .globalTabs .el-tabs--card > .el-tabs__header .el-tabs__nav {
      /* tab标签边框 */
      border: 0;
  }
  .globalTabs .el-tabs__item {
      background-color: #DFDFDF;
      color: #0d1d50;
      border-bottom-width: 1px !important;
      border-bottom-style: solid !important;
      border-bottom-color: #66b1ff !important;
  }
  .globalTabs .el-tabs__item.is-active {
      background-color: #66b1ff;
      color: #EAF0FA;
  }
  .globalTabs #tab-first {
      margin-right: 1px;
  }

  .globalTabs #tab-second {
      margin: 0 1px;
  }

  .globalTabs #tab-third {
      margin: 0 1px;
  }

  .globalTabs #tab-fourth {
      margin-left: 1px;
  }

  .globalTabs .el-tabs--card>.el-tabs__header {
      /*底边线*/
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #66b1ff;
  }


  .w40{
      width: 40%;
  }
  .w15{
      width:15%;
  }
  .w240{
      width:250px;
  }
  .file-upload {
      position: relative;
      display: inline-block;
  }
  .file-upload input[type="file"] {
      width: 40%;
      height: 36px;
      opacity: 0;
      position: relative;
      z-index: 2;
  }
  .file-upload input.form-control {
      width: 430px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
  }
  .file-upload a {
      width: 100px;
      height: 36px;
      text-align: center;
      color: #fff;
      line-height: 36px;
      position: absolute;
      top: 0;
      left: 400px;
      z-index: 1;
      background: #409EFF;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
  }
  .file-upload .el-input--medium.bottom-input {
      width: 40%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
  }
  .file-upload .el-input--medium.top-input {
      width: 500px;
      height: 36px;
      opacity: 0;
      position: relative;
      z-index: 2;
  }

  /*card-list 卡片列表*/
  .el-card__body{
      padding: 10px;
  }

  .box-card {
      /* height: 160px; */
      margin-bottom: 20px;
  }

  .box-card img {
      width: 100%;
      max-height: 100%;
      display: block;
      /* height: 140px; */
  }
  .box-card .card-info{
      overflow: hidden;
      /* height: 140px; */
  }
  .box-card .card-info .info-list {
      margin-bottom: 6px;
  }
  .box-card .card-info .info-list{
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
  }
  .inline-span{
   margin-right: 50px;
  }
  .box-card .card-operate{
      width: 260px;
      padding-top: 25px;
      /*position: relative;
      top: 70px;
      left: 80px;*/
  }
  .operate-item {
      margin-right: 15px;
  }
  .box-card label {
      font-size: larger;
  }

  .dialog-form .detail-group span{
      line-height: 24px;
  }

}

.left-menu{
  background: rgba(0,0,0,0.45) !important;
}
.el-menu-item-group__title{
  display: none;
}
.el-calendar-table .el-calendar-day {
  height: auto !important;
}
.el-breadcrumb__item{
  font-size: 22px;
  margin-bottom: 20px;
}
.required:before{
  content: "*";
  color: #f56c6c;
  margin-right: 4px;
}
.login-form .el-form-item__label{
  color: #fff;
}
